<h2><%= current_dir_name %></h2>
<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <td>Dir</td>
    <td>File name</td>
    <td>Run Time(ms)</td>
    <td>STDOUT</td>
  </tr>
  </thead>
  <tbody>
  <%= rows %>
  </tbody>
</table>